<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpoint1">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="service1">
          <serviceAuthorization serviceAuthorizationManagerType="FanTest.WebAPI.Host.AuthorizationManager,WebAPI.Host" />
          <!--<serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="FanTest.WebAPI.Host.AuthorizationManager,WebAPI.Host" />-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding allowCookies="true"
                 closeTimeout="00:01:00"
                 maxBufferSize="10485760" maxBufferPoolSize="10485760"
                 maxReceivedMessageSize="10485760"
                 transferMode="Streamed"
                 />
      </webHttpBinding>
    </bindings>
    
    <services>
      <service name="FanTest.WebAPI.Host.CalculatorService" behaviorConfiguration="service1">
        <endpoint address="http://localhost:8800/service" behaviorConfiguration="endpoint1"
          binding="webHttpBinding" contract="FanTest.WebAPI.Host.ICalculator" />
      </service>
      <service name="FanTest.WebAPI.Host.CalculatorService2" behaviorConfiguration="service1">
        <endpoint address="http://localhost:8800/service2" behaviorConfiguration="endpoint1"
          binding="webHttpBinding" contract="FanTest.WebAPI.Host.CalculatorService2" />
      </service>
      <service name="FanTest.WebAPI.Host.MyService" behaviorConfiguration="service1" >
        <endpoint address="http://localhost:8800/service3" behaviorConfiguration="endpoint1"
          binding="webHttpBinding" contract="FanTest.WebAPI.Host.MyService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
